body, html {
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: Helvetica;
  background-color: #000;
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version */
  box-sizing: content-box;
}

::-webkit-scrollbar {
  width: 0px;
}

#tabs {
  height: 15%;
  overflow-x: scroll;
  overflow-y: hidden; 
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.tab-icon {
  padding: 40px;
  font-size: 2em;
}

.tab-img {
  width: 1em;
}

#page {
  position: relative;
  height: 85%;
  width: 100%;
}