body, html {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: Helvetica;
  background-color: #000;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version */
}
#mic-btn, #kbd-btn {
  position: fixed;
  top: 0;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  background-color: #aaa;
  margin: 20px;
}
#mic-btn {
  right: 0;
}
#kbd-btn {
  left: 0;
}
.mic-icn, .kbd-icn {
  width: 100%;
}
#right-click {
  position: fixed;
  bottom: 50%;
  right: 0px;
  width: 50%;
  height: 10%;
  background-color: #444;
}
#trackpad {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 85%;
  height: 50%;
  background-color: #333;
}
#scrollpad {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 50%;
  background-color: #222;
}
